{% extends "base.html" %}

{% block page_title %}
	Booking View
{% endblock page_title %}

{% block contents %}
	<form method="POST">
		{% csrf_token %}
		
		<select name="parkir" required="" id="id_parkir">
			<option value="{{parkir}}">{{parkir}}</option>
		</select>
		<br>
		<input type="text" name="booking" maxlength="50" placeholder="id Booking" required="" id="id_booking" value="{{id_booking}}">
		<br>
		<input type="text" name="status" maxlength="50" id="id_status" placeholder="Status" value="booking">


		<button type="Submit" class="btn btn-primaty">Submit</button>

	</form>

{% endblock contents %}