{% extends "base.html" %}

{% block page_title %}
	User Parkir
{% endblock page_title %}

{% block contents %}
	<h1><b>Lokasi Parkir</b></h1>
	{% for list in use_parkir %}
		<a href ="" >
			<button type="submit" id="parkir" class="btn btn-primary" value="{{list.position}}">{{list.id_parkir}}</button>
		</a>
		<br>
		<h3>ID Booking : {{list.booking.booking}}</h3>
		<br>
		<a href="{% url 'parkir:kosong' list.id_parkir %}" class="btn btn-danger">Cancel Booking</a>
	{% endfor %}
{% endblock contents %}
