<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
	  <a class="navbar-brand" href="{% url 'parkir:list_parkir' %}">BLOG</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_authenticated %}
              {{user}}
            {% else %}
              Login
            {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'parkir:useparkir' %}">parkir</a>
          {% if user.is_authenticated  %}
              <a class="dropdown-item" href="{% url 'parkir:logout' %}">Logout</a>
          {% else %}
              <a class="dropdown-item" href="{% url 'parkir:login' %}">Login</a>
          {% endif %}
        </div>

    </div>
  </div>
</nav>